.container {
  width: 1200px;
  margin: 0 auto;
  columns: 4;
  column-gap: 10px;
}
.box {
  width: 235px;
  padding: 20px;
  background-color: #f1f1f1;
  border: 1px solid greenyellow;
  /* float: left;
  margin: 10px; */
  margin-bottom: 10px;
  /* не переносит куски карточки */
  break-inside: avoid;
  border-radius: 16px;
}
.box img {
  width: 100%;
  /* height: 170px; */
  height: 100%;
  object-fit: contain;
}
